<% layout('layout/boilerplate') %>

<form action="/article/create" method="POST">
    <div class="mb-3">
      <label for="articleHeading" class="form-label">Heading</label>
      <input name="articleHeading" type="text" class="form-control" id="articleHeading" >
    </div>
    <div class="mb-3">
        <label for="articleAuthor" class="form-label">Name of Author</label>
        <input name="articleAuthor" type="text" class="form-control" id="articleHeading" >
      </div>
    <div class="form-group shadow-textarea">
        <textarea name="articleContent" class="form-control z-depth-1" id="articleContent" rows="10" placeholder="Write your article here..."></textarea>
    </div>

    <br>
    <button type="submit" id="submit" class="btn-btn">Submit</button>
  </form>
