<div class="container d-flex justify-content-center align-items-center mt-5">
  <div class="row mt-2">
  <div class="col-sm-6">
      <img class="img-fluid" src="https://images.pexels.com/photos/3585089/pexels-photo-3585089.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="">  
  </div>
     <div class="col-sm-6">
      <div class="card h-100">
          <div class="card-body">
             <form action="/register" method="POST">
                    <h5 class="text-center mb-5">Create An Account</h5>
                    <div class="mb-3">
                      <label class="form-label" for="username">Username</label>
                      <input
                        class="form-control"
                        type="text"
                        id="username"
                        name="username"
                      />
                      </div>
                    <div class="mb-3">
                      <label class="form-label" for="email">Email</label>
                      <input class="form-control" type="email" id="email" name="email" required />
                      <div class="valid-feedback">Looks good!</div>
                    </div>
                    <div class="mb-3">
                      <label class="form-label" for="password">Password</label>
                      <input
                        class="form-control"
                        type="password"
                        id="password"
                        name="password"
                        required
                      />
                      </div>
                    <button class="btn btn-success btn-block">Register</button>
                  </form>
            </div>
        </div>
    </div>
  </div>      
</div>