<% layout('layout/boilerplate') %>
<div class="container d-flex justify-content-center align-items-center mt-5">
  <div class="row mt-2 mb-5">
  <div class="col-sm-6">
      <img class="img-fluid" src="https://images.pexels.com/photos/3585089/pexels-photo-3585089.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="">  
  </div>
     <div class="col-sm-6">
      <div class="card h-100">
          <div class="card-body">
             <form action="/login" method="POST" class="mt-5">
                    <h5 class="text-center mb-5">Login</h5>
                    <div class="mb-3">
                      <label class="form-label" for="username">Email</label>
                      <input
                        class="form-control"
                        type="text"
                        id="username"
                        name="username"
                      />
                      </div>
                    <div class="mb-3">
                      <label class="form-label" for="password">Password</label>
                      <input
                        class="form-control"
                        type="password"
                        id="password"
                        name="password"
                        required
                      />
                      </div>
                      <div class="d-grid gap-2">
                          <button class="btn btn-success">Register</button>
                      </div>
                  </form>
            </div>
        </div>
    </div>
  </div>      
</div>

Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint provident totam explicabo perspiciatis rem, illum recusandae voluptatibus, repudiandae in, nam quas! Repudiandae tenetur beatae dolore veritatis quasi, molestiae provident nostrum.
Ullam, voluptas eveniet. Atque perspiciatis, quibusdam consequatur suscipit deleniti quod, qui perferendis adipisci at est esse iure dolorum debitis in quia. Consectetur quia ipsam impedit exercitationem molestias excepturi eius earum!
Inventore aliquam est quidem blanditiis quaerat minima distinctio recusandae quas in, quod consectetur, at saepe! Iure rem quaerat, quos obcaecati facilis tenetur enim a sint doloribus dignissimos? Accusamus, amet cumque?