<% layout('layout/boilerplate') %>

<form action="/reviewer/create" method="POST">
    <div class="mb-3">
        <label for="rName" class="form-label">Name of Reviewer</label>
        <input name="rName" type="text" class="form-control" id="rName" >
      </div>
    <div class="mb-3">
      <label for="rUsername" class="form-label">Email</label>
      <input name="rUsername" type="text" class="form-control" id="rUsername" >
    </div>
    <div class="mb-3">
        <label for="rPassword" class="form-label">Password</label>
        <input name="rPassword" type="password" class="form-control" id="rPassword" >
      </div>

    <div class="mb-3">
        <label for="rDob" class="form-label">Date Of Birth</label>
        <input name="rDob" type="date" class="form-control" id="rDob" >
    </div>
    <br>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
