<footer class="footer bg-dark py-3 mt-5">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
                <div class="row mt-5">
                    <div class="col-1">
                        <img src="https://cdn-icons-png.flaticon.com/512/60/60826.png" alt="location" class="footer-icons"/>
                    </div>
                    <div style="color: white;" class="col-11">
                     <p>8WCM+JFJ, Calicut Mukkam Road </p> 
                     <p>Kattangal, Kerala 673601</p>
                     </div>
                </div>
                <div class="row mt-2">
                    <div class="col-1">
                        <img src="https://cdn-icons-png.flaticon.com/512/126/126509.png" alt="phone" class="footer-icons"/>
                    </div>
                    <div style="color: white;" class="col-11">
                     <p> +91 98090 12330 </p> 
                     </div>
                </div>
        </div>
        <div class="col-sm-6 mt-4" style="color:white;">
            <h3>NITC Magazine</h3>
            <p>Welcome to our college's magazine column website! Here you will find a variety of articles written by students, faculty, and staff, covering a wide range of topics related to life on campus and beyond. We hope you enjoy reading our content and learning more about our community.</p>
            <a href="https://twitter.com/nitcofficial"><img src="https://cdn-icons-png.flaticon.com/512/25/25347.png" class="footer-icons"></a>
            <a href="https://www.linkedin.com/school/national-institute-of-technology-calicut/"><img src="https://cdn-icons-png.flaticon.com/512/3536/3536569.png" class="footer-icons"></a>
            
        </div>
      </div>
    </div>
</footer>

