<nav class="navbar navbar-expand-xl  bg-body-tertiary bg-dark" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><img src="https://upload.wikimedia.org/wikipedia/en/thumb/e/e3/This_is_the_logo_of_NIT_Calicut.svg/800px-This_is_the_logo_of_NIT_Calicut.svg.png" class="logo" alt="nit logo"/>Magazine </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav navstyle">
        <a class="nav-link active" aria-current="page" href="#">Home</a>
        <% if (typeof username!== 'undefined') {%> 
          <% if ( typeof admin !== 'undefined' && admin === "admin") {%>
              <a class="nav-link" aria-current="page" href="/reviewer">Reviewers</a>
              <a class="nav-link" aria-current="page" href="/article/create">Add Article</a>
              <a class="nav-link" aria-current="page" href="/reviewer/create">Add Reviewer</a>
            <% } %>  
              <form class="d-flex" action="/logout" method="POST">
                <button class="btn btn-outline-success" type="submit">Logout</button>
              </form>
        <% } %> 
      </div>
    </div>
  </div>
</nav>