<% layout('layout/boilerplate') %>

<form action="/article/create" method="POST">
    <div class="mb-3">
      <label for="articleHeading" class="form-label">Heading</label>
      <input name="articleHeading" type="text" class="form-control" id="articleHeading" required>
    </div>
    <div class="mb-3">
        <label for="articleAuthor" class="form-label">Name of Author</label>
        <input name="articleAuthor" type="text" class="form-control" id="articleHeading" required>
      </div>
    <div class="mb-3">
        <label for="articleImg" class="form-label">Article Image</label>
        <input name="articleImg" type="text" class="form-control" id="articleImg" required>
      </div>
    <div class="form-group shadow-textarea">
      <label for="articleContent" class="form-label">Content</label>
        <textarea name="articleContent" class="form-control z-depth-1" id="articleContent" rows="10" placeholder="Write your article here..." required></textarea>
    </div>

    <br>
    <div class="d-grid gap-2">
        <button type="submit" class="btn-btn" id="submit">Submit</button>
    </div> 
  </form>
