<%- layout('layout/boilerplate')%> 
<body id="not-found-error">
<div class="container">
<div class="error-message">
      <h1>404 Not Found</h1>
      <h1>Uh Oh,seems like you are lost!</h1>
      <p>Could not find the page! Try searching again!</p>
</div>
</div>
</body>