.error-flash {
    padding: 20px;
    background-color: rgba(255,0,0,0.4);
    /* Red */
    color: white;
    margin-bottom: 15px;
}

.success-flash {
    padding: 20px;
    background-color: rgba(22, 157, 22,0.6);
    /* Red */
    color: white;
    margin-bottom: 15px;
}

/* The close button */
.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
    color: black;
}