body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
}

.navstyle{
    margin-left: auto;
}

.date_text{
    margin-left: 70%;
}

.logo {
    height: 42px;
    padding-right: 20px;
}