
body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
    font-family: 'Lexend', sans-serif;
}

.navstyle{
    margin-left: 25%;
    width: 100%;
}

.date_text{
    margin-left: 70%;
}

.logo {
    height: 42px;
    padding-right: 20px;
}

#login-form{
    margin-left: auto;
}

.btn-btn{
        display: inline-block;
        outline: none;
        cursor: pointer;
        font-size: 14px;
        line-height: 1;
        border-radius: 500px;
        transition-property: background-color, border-color, color, box-shadow, filter;
        transition-duration: .3s;
        border: 1px solid transparent;
        letter-spacing: 2px;
        min-width: 160px;
        text-transform: uppercase;
        white-space: normal;
        font-weight: 700;
        text-align: center;
        padding: 16px 14px 18px;
        color: #fff;
        height: 48px;
        text-decoration: none;
    

}

#log{
    background-color: #6a040f;
}

#log:hover{
    background-color: #d00000;
}

.card{
    border-radius: 25px;
}

#edit{
    background-color: #4d908e;
}

#edit:hover{
    background-color: #43aa8b;
}

#show {
    
    background-color: #184e77;
}

#show:hover {
    background-color: #168aad;
}

#submit{
    background-color: #f95738;
}

#submit:hover {
    background-color: #ee964b;
}

#select {
    background-color: #f72585;
}

#select:hover {
    background-color: #b5179e;
}

@media(min-width:768px) {
    .img_margin{
        margin-left: 5%;
    }
}

.profile{
    height:60px;
    width: 60px;
    border-radius: 50%;
    background-size: cover;
}

.overlay_profile {
    height: 250px;
    width: 250px;
    border-radius: 50%;
    background-size: cover;
}

.comments{
    border-bottom: 2px solid black;
}

.parent::after {
    content: 'Welcome to NITC Magazine!';
    animation: show-up 1s ease-out forwards;
    position: absolute;
    top: 60%;
    color: white;
    font-weight: bold;
    font-size: 3rem;
    padding-left: 10px;
    mix-blend-mode: hard-light;
    text-align: left;
}

.video {
    height: 100%;
    width: 100%
}

@media (max-width:1200px) {
    .video {
        height: 100%;
        width: auto;

    }
}

@keyframes show-up {
    from {
        opacity: 0;
        transform: translateX(0rem);
    }

    to {
        opacity: 1;
        transform: translateX(5rem);
    }
}

body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
    font-family: 'Lexend', sans-serif;
}

.navstyle{
    margin-left: 25%;
    width: 100%;
}

.date_text{
    margin-left: 70%;
}

.logo {
    height: 42px;
    padding-right: 20px;
}

#login-form{
    margin-left: auto;
}

.btn-btn{
        display: inline-block;
        outline: none;
        cursor: pointer;
        font-size: 14px;
        line-height: 1;
        border-radius: 500px;
        transition-property: background-color, border-color, color, box-shadow, filter;
        transition-duration: .3s;
        border: 1px solid transparent;
        letter-spacing: 2px;
        min-width: 160px;
        text-transform: uppercase;
        white-space: normal;
        font-weight: 700;
        text-align: center;
        padding: 16px 14px 18px;
        color: #fff;
        height: 48px;
        text-decoration: none;
    

}

#log{
    background-color: #6a040f;
}

#log:hover{
    background-color: #d00000;
}



.card{
    border-radius: 25px;
}

.card:hover{
    box-shadow: 4px 4px black;
}

.cbtn{
    position: relative;
    top: -10px;
}

#edit{
    background-color: #4d908e;
}

#edit:hover{
    background-color: #43aa8b;
}

#show {
    
    background-color: #184e77;
}

#show:hover {
    background-color: #168aad;
}

#submit{
    background-color: #f95738;
}

#submit:hover {
    background-color: #ee964b;
}

#select {
    background-color: #f72585;
}

#select:hover {
    background-color: #b5179e;
}

@media(min-width:768px) {
    .img_margin{
        margin-left: 5%;
    }
}

.profile{
    height:60px;
    width: 60px;
    border-radius: 50%;
    background-size: cover;
}

.container2 {
    background-color: #f1f1f1;
    padding: 20px;
  }
  
  /* The message box is shown when the user clicks on the password field */
  #message {
    display:none;
    background: #f1f1f1;
    color: #000;
    position: relative;
    margin-top: 10px;
    max-width: 250px;
    padding-bottom:0px ;
  }
  
  #message p {
    padding: 10px 35px;
    font-size: 10px;
  }
  
  /* Add a green text color and a checkmark when the requirements are right */
  .valid {
    color: green;
  }
  
  .valid:before {
    position: relative;
    left: -10px;
    content: "✔";
  }
  
  /* Add a red text color and an "x" when the requirements are wrong */
  .invalid {
    color: red;
  }
  
  .invalid:before {
    position: relative;
    left: -10px;
    content: "✖";
  }