<% layout('layout/boilerplate') %>
<link rel="stylesheet" href="/stylesheets/login/css/style.css" />
          <div class="card-body" >
             <form action="/forgotpassword" method="POST" class="mt-0">
                    <h5 class="text-center mb-4" style="font-size:xxx-large;text-shadow: 2px 2px black;">Forgot your Password?</h5>
                    <div class="mb-0">
                      <label class="form-label" for="username">If you are an Admin or Reviewer, type your Email here</label> 
                      <input
                        class="form-ctl"
                        type="email"
                        id="username"
                        name="username"
                        placeholder="Email"
                        autocomplete="off"
                        pattern="[a-z0-9._%+-]+@nitc.ac.in"
                        title="Mail-id should be a valid NITC mail-id [Eg:abc@nitc.ac.in]"
                        required
                      />
                      </div>
                      <div class="mb-4 mt-2">
                        <p class="mb-2"></p>
                      </div>
                      <div >
                        <button type="submit" class="loginbtn" ><span>Receive Email</span></button>
                        </div>
                     
                    </div> 
                  </form>
            </div>